@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #303030;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.no-results {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Libre Baskerville", serif;
    color: #303030;
  }
  a {
    color: #303030b7;
    &:hover {
      color: #303030;
    }
  }
}
