.item-list-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20vh;
  a {
    color: #303030;
    margin-left: 2%;
  }
  h1 {
    color: #303030;
    font-weight: 200;
    font-size: 1rem;
  }
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  margin-bottom: 6%;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #303030;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.active {
  border-bottom: 1px solid black;
  box-sizing: content-box;
  overflow: hidden;
}
