.header-title {
    display: flex;
    height: 50vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/banner.png);
    background-size: cover;
  }