.grid {
  max-width: 1280px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  color: white;
  font-size: 0.8rem;
  margin: 0.5em 0.25em;
  width: 250px;
  //order: 2;

  &:last-child {
    order: -1;
  }
}
